<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-sm')" tabindex="-1" >
  <md-toolbar class="md-default-theme">
    <h1 class="md-toolbar-tools text">Colors</h1>
  </md-toolbar>
  <md-content flex class="md-default-theme sidebar" ng-controller="MenuCtrl">
    <div>
      <a
      class="color"
      ng-repeat="color in colors | orderBy:'name'"
      ng-click="goto(color)"
      ng-class="{active: isSelected(color)}"
      md-highlight="isSelected(color)"
      md-ink-ripple="#bbb"
      aria-hidden="false"
      >
        <span ng-bind="color.name">
        </span>
      </a>
    </div>
  </md-content>
</md-sidenav>


<div layout="column" layout-fill tab-index="-1" role="main">
  <md-toolbar class="md-default-theme">
    <div class="md-toolbar-tools" ng-click="openMenu()" tabindex="0">
      <button class="menu-icon" hide-gt-sm aria-label="Toggle Menu">
        <md-icon icon="../../assets/images/icon_menu.svg">
        </md-icon>
      </button>
      <div layout="row" flex layout-align="end center">
        <div class="md-toolbar-item md-breadcrumb">
          <span class="text">Discover new release by artwork color</span>
        </div>
      </div>
    </div>
  </md-toolbar>

  <!-- <md-content flex class="md-default-theme">
    <ul>
      <li ng-repeat="album in albums">
        <h2>{{ album.title }}</h2>
        <h3>{{ album.artist }}</h3>
        <time>{{ album.releaseDate }}</time>
        <p>{{ album.timestamp }}</p>
        <img ng-src="{{ album.artwork }}" />
      </li>
    </ul> -->


  <md-content md-scroll-y flex class="md-padding md-default-theme main" >

    <div layout="column" layout-fill layout-align="center center" class="layout-content layout-options">
      <!-- <md-progress-circular flex class="md-hue-2" md-mode="indeterminate"></md-progress-circular> -->
      <md-list>
        <md-item ng-repeat="album in albums">
          <md-item-cotent>
            <md-card>
              <md-card-content class='album'>
                <h2 class="title">{{ album.title }}</h2>
                <p class="release-date"><time>{{ album.releaseDate | date:'yyyy-MM-dd'}}</time></p>
                <a ng-href="{{album.link}}"  target="_blank">
                  <img ng-src="{{ album.artwork }}" />
                </a>
                <h3 class="artist-name">{{ album.artist }}</h3>
              </md-card-content>
            </md-card>
          </md-item-cotent>
        </md-item>
      </md-list>
    </div>
  </md-content>
</div>
