<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2 sidenav" md-component-id="left" md-is-locked-open="$media('gt-sm')" tabindex="-1" >
  <md-toolbar class="md-default-theme">
    <h1 class="md-toolbar-tools text">Colors</h1>
  </md-toolbar>
  <md-content flex class="md-default-theme sidebar" ng-controller="MenuCtrl">
    <div>
      <a
      class="color"
      ng-repeat="color in colors | orderBy:'name'"
      ng-click="goto(color)"
      ng-class="{active: isSelected(color)}"
      md-highlight="isSelected(color)"
      md-ink-ripple="#B6B6B6"
      aria-hidden="false"
      >
        <span ng-bind="color.name">
        </span>
      </a>
    </div>
  </md-content>
</md-sidenav>


<div layout="column" layout-fill tab-index="-1" role="main">
  <md-toolbar class="md-default-theme">
    <div class="md-toolbar-tools" ng-click="openMenu()" tabindex="0">
      <button class="menu-icon" hide-gt-sm aria-label="Toggle Menu">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
          <g id="Header">
              <g>
                  <rect x="-618" y="-2232" fill="none" width="1400" height="3600"/>
              </g>
          </g>
          <g id="Label">
          </g>
          <g id="Icon">
              <g>
                  <rect fill="none" width="24" height="24"/>
                  <path d="M3,18h18v-2H3V18z M3,13h18v-2H3V13z M3,6v2h18V6H3z" style="fill:#f3f3f3;"/>
              </g>
          </g>
          <g id="Grid" display="none">
              <g display="inline">
              </g>
          </g>
        </svg>
      </button>
      <div layout="row" flex layout-align="end center">
        <div class="md-toolbar-item md-breadcrumb">
          <span class="text">Discover new release by artwork color</span>
        </div>
      </div>
    </div>
  </md-toolbar>

  <md-content md-scroll-y layout="column" class="md-padding md-default-theme">

    <div layout="column" layout-fill flex layout-align="center center" class="layout-content layout-options">
      <!-- <md-progress-circular flex class="md-hue-2" md-mode="indeterminate"></md-progress-circular> -->
      <md-list>
        <md-item ng-repeat="album in albums | filter:filter">
          <md-item-cotent>
            <md-card>
              <md-card-content layout="column" layout-fill flex layout-align="center center" class='album'>
                <h2 class="title">{{ album.title }}</h2>
                <p class="release-date"><time>{{ album.releaseDate | date:'yyyy-MM-dd'}}</time></p>
                <a ng-href="{{album.link}}"  target="_blank">
                  <img class='img' ng-src="{{ album.artwork }}" />
                </a>
                <h3 class="artist-name">{{ album.artist }}</h3>
              </md-card-content>
            </md-card>
          </md-item-cotent>
        </md-item>
      </md-list>
    </div>
  </md-content>
</div>
