.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.menu-icon {
  background: none;
  border: none;
  margin-right: 16px;
}

.color {
  display: block;
  &.active {
    background: red;
  }
}
// injector
// endinjector
